.container{
    background-color: red;
    height: 1000px;
    width: 1000px;
    /* align-items: center; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.item{
    background-color: blue;
    height: 200px;
    width: 200px;
    justify-self: end;
}

.last{
    background-color: blue;
    height: 200px;
    width: 500px;
    justify-self: center;

    
}